<div class='panel panel-primary'>
    <div class='panel-heading'>
      <!--  {{pageTitle + ': ' + transaction.description}} -->
        {{pageTitle}}
    </div>

    <div class='panel-body'>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <!-- <button class="astext">hello, world</button> -->
        <button class="button" *ngFor="let t of accounts">{{t.accountNameOwner}}</button>
      </div>
    </div>


    </div>
</div>