.table {
  /* table-layout:fixed; */
  /*font-weight: bold;*/
  /*border:0;*/
}

.table td:first-child {
  background-color:white;
 }

.table td:not(:first-child) {
    width: 250px;
}

.table th {
  /* background-color: white; */
  background-color: lightyellow;
    color: #337AB7;
  font-weight: bold;
}

.table tr {
    transition: background 0.2s ease-in;
}

.table tr:nth-child(odd) {
    background: silver;
}

.table tr:hover {
    background: powderblue;
    cursor: pointer;
}


.button {
    /*adjust the roundness*/
    /* border-radius: 4px; */
    /*adjust height and width
    height: 20px;
    width: 20px;  
    outline-style:none;   
    */

    /*change border colour*/
    
    /* outline:none; */
}
