<div class='panel panel-primary'>
    <div class='panel-heading'>
      <!--  {{pageTitle + ': ' + transaction.description}} -->
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>TransactionDate:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.transactionDate">{{transaction.transactionDate *1000 | date: 'MM/dd/yyyy'}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>Description:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.description">{{transaction.description}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>category:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.category">{{transaction.category}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>amount:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.amount">{{transaction.amount| currency: 'USD': true : '1.2-2'}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>cleared:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.cleared">{{transaction.cleared}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>notes:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.notes">{{transaction.notes}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>dateUpdated:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.dateUpdated">{{transaction.dateUpdated *1000 | date: 'MM/dd/yyyy HH:mm'}}</div>  
                </div>
                <div class='row'>
                    <div class='col-md-3'>dateAdded:</div>
                    <div class='col-md-6' *ngIf="transaction && transaction.dateAdded">{{transaction.dateAdded *1000 | date: 'MM/dd/yyyy HH:mm'}}</div>  
                </div>
            </div>
        </div>
    </div>
</div>
