<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
           <div class='col-md-2'>
               Account:

           </div> 
           <div class='col-md-4'>
             <select name="select" [(ngModel)]="selectedAccount" (ngModelChange)="onChange($event)">
             <option *ngFor="let account of accounts" [value]="account.accountNameOwner">{{account.accountNameOwner}}</option>
             </select>
           </div>

<!--  
<div>
    <input type="text" ng-model="key">
        <div>
            <li ng-repeat="account in (accounts | filter:search)" ng-bind="account"></li>
        </div>
</div>
-->
            
        </div>
        <div class='row'>
            <div class='col-md-2'>
               Totals:
           </div> 
            <div class='col-md-4' *ngIf="accountTotal && accountTotal.accountTotal">{{accountTotal.accountTotal| currency: 'USD': true : '1.2-2'}}</div>
        </div>

        <div>
            <div>


    <input type="text" *ngIf="radioValue" />
</div>
            </div>

        <div class='table-responsive'>
            <table class='table' *ngIf = 'transactions && transactions.length'>
                    <tr>
                        <th>Action</th>
                        
                        <th>date</th>
                        <th>description</th>
                        <th>category</th>
                        <th>amount</th>
                        <th>cleared</th>
                        <th>notes</th>
                        <th>dateUpdated</th>
                        <th>dateAdded</th>
                    </tr>
    <tbody>
    
<tr *ngFor = 'let transaction of transactions | transactionFilter: listFilter' >
    <td>

     <table border=0>
        <tr>
            <th>
            <a [routerLink]="['/transactions', (transaction.guid | removeSpacesPipe)]"><img  src='app/assets/images/edit.jpg' [title]='transaction.guid' width='20px' height='20px'></a>
        </th>
        <th>
             <button value="guid" (click) = 'onDeleteButtonClick($event)'>
                <img src='app/assets/images/delete.png' [title]='transaction.guid'  width='20px'  height='20px'>
            </button>
        </th>
        </tr>
   </table>

    </td>
  <td>{{transaction.transactionDate *1000 | date: 'MM/dd/yyyy'}}</td>
  <td>{{transaction.description}}</td>
  <td>{{transaction.category | lowercase }}</td>
  <td>{{transaction.amount| currency: 'USD': true : '1.2-2'}}</td>
  <td>{{transaction.cleared}}</td>
  <td>{{transaction.notes}}</td>
  <td>{{transaction.dateUpdated *1000 | date: 'MM/dd/yyyy HH:mm'}}</td>
  <td>{{transaction.dateAdded *1000 | date: 'MM/dd/yyyy HH:mm'}}</td>
</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
