<!--
<nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-sm-12 collapse navbar-collapse pull-right" id="myNavbar">
            <ul class="nav navbar-nav ">
                <li class="">
                    <a routerLink="/login">Login</a>
                </li>
                <li class="">
                    <a routerLink="/logout">Logout</a>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/menu1">menu-1</a></li>
          <li><a routerLink="/menu2">menu-2</a></li>
        </ul>
      </li>
            </ul>
        </div>
    </nav>
-->



<!--
    <alert type="info">Hello from ng2-bootstrap</alert>
    <div>
<img class='halfsize' src="app/assets/images/logo.jpg" />
-->

 <nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

    <div>
        <nav class='collapse navbar-collapse' id="navbar-collapse-1">
            <div class='container-fluid'>
             <!--   <a class='navbar-brand'>{{pageTitle}}</a> -->
                <ul class='nav navbar-nav'>
                    <li><a [routerLink]="['/welcome']">Home</a></li>
                    <li><a [routerLink]="['/transactions']">Transactions List</a></li>
                    <li><a [routerLink]="['/accounts']">Accounts List</a></li>
                    <li class="dropdown"><a [routerLink]="['/welcome']" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dropdown Link 1</a></li>
                            <li><a href="#">Dropdown Link 2</a></li>
                            <li><a href="#">Dropdown Link 3</a></li>
                        </ul>
                    </li>
                   
                </ul>

            </div>
        </nav>
        <div class='container'>
            <router-outlet></router-outlet>
        </div>
     </div>
 </nav>  
        <!--
class="dropdown-toggle""
class="dropdown"

            <h1>{{pageTitle}}</h1> 
        <img src="" style="width: 50%; height: 50%"/>​
        -->
<!--<pm-products></pm-products> 
</div>
-->
