<form name="ListingQuickSearch4" action="http://www.edinarealty.com/Listing/ProcessSearch.aspx" method="post">
<input type="hidden" value="1" name="Criteria/ListingTypeID">
<input type="hidden" value="" name="Criteria/ListingSearchID">
<input type="hidden" value="Button/ListingNumber" name="Button/ListingNumber">
<input id="ListingNumber" type="text" maxlength="32" size="19" name="Criteria/ListingNumber">
<input type="image" src="http://edinaimages.fnistools.com/images/RECos/15000/RECoTemplates/15000_Common/quick_search_arrow_1.gif" name="Button/ListingNumber">
<img id="Master_HomepageText_quicksearch_Image21" src="http://edinaimages.fnistools.com/images/RECos/15000/fill.gif" />
</form>
